In [1]:
import pandas as pd

In [7]:
features_friends = pd.read_csv("../data/FINAL_FEATURES_FRIENDS.tsv", sep="\t")
target_traintest = pd.read_csv("../data/FINAL_TARGETS_DATES_TRAINTEST.tsv", sep="\t")
sequences_matrix = pd.read_csv("../data/FINAL_SEQUENCES_MATRIX.tsv", sep="\t")
all_sequences_matrix = pd.read_csv("../data/FINAL_ALL_SEQUENCES_TRAINTEST.tsv", sep="\t")
targets_traintest = pd.read_csv("../data/FINAL_TARGETS_DATES_TRAINTEST.tsv", sep="\t")

In [9]:
targets_traintest

        CLIENT_ID  RETRO_DT TARGET
0         1011725  20210501      0
1         1018784  20210501      1
2         1021812  20210501      0
3         1024003  20210501      0
4         1025140  20210501   test
...           ...       ...    ...
159285      72633  20210731      0
159286      72634  20210731      1
159287      72641  20210731      0
159288      72642  20210731   test
159289      72643  20210731      0

[159290 rows x 3 columns]

In [137]:
all_sequences_matrix

       CLIENT_ID                                           SEQUENCE
0        1000100  ['e84b0f471b8e8f4aecc81eb27b16c092', '9a7670be...
1        1000121  ['9804a8d70c5e8c26830bdafe2c2db49c', '9ca02fb0...
2        1000131  ['b496d19eb25556bd64e481d11b6f7dd6', 'eb727f97...
3        1000132  ['467a38fe36ef666e264823387f66f3c8', 'e0494409...
4         100013  ['b496d19eb25556bd64e481d11b6f7dd6', 'fc18cab3...
...          ...                                                ...
33501    1527977  ['3f819f6851b76254d0f44bec0257f0ab', 'ae6a5d73...
33502    1527978  ['be04cee85f8fcac172e31087a4cfe9a4', 'e65bd9b1...
33503    1527979  ['1e29cee0e09978aa6ef06b8a079a0522', '5f86735e...
33504    1527980  ['e841b1dc98f3b54f95c0f496cd2769fb', '7640bb09...
33505    1527981  ['72b88f72bca2636844bb14b9cd9e29b3', '8f5fe68f...

[33506 rows x 2 columns]

In [140]:
pd.get_dummies(all_sequences_matrix[['SEQUENCE']].astype(str).values[0][0].replace(' ','').replace('[','').replace(']','').replace("'","").split(',')).sum()

0a0262a3ff2f66dfbc8393f654f04cec     1
123ce1d2bea3cf5e381ef706605b5aaa     2
179a7187f9dbf227e3751608d6796319     2
23114079654c0224e07fe90619744944     2
2f082fd4ed36762c9cbbdb08945bd55f     1
393a7e7006bb3c2470a93c67429b8d2c     1
41d71f48089e26dcf46e86474f3568b1     1
468e25839a56ee5706895fcbb8f5aa00     1
54af40549feac8c648d573775777c823     1
55b02de9badb0873fee3245d88d0d798     1
5b47ea7718d6194ed6049085bd4c747f     1
5fc209998dca06f1618a78b66cd5d827     1
9a7670be67a118ddd4b30f5cdd3b035e     2
9cb3abf65fd1465b1c8f829a73761f56     1
9efdb3061afc3c2ccf67088e2b30bca5     1
acb4ac11bd962f9a3e05042e5b1a260a     1
aeb4b083a0762ecba2222942ab6b7e22     2
c82c51bc925071ff17983d79b472c9f8     2
ca431c645b8bbf6de0a2ce1f9856af50     1
d107595edd990ec01718897044bf78ba     1
d48a3ba9247bc34d3ef617cb5cb9c5e5     3
d50d5cf3b37b8728bc1033bf5e537e39    11
d8d8278d044dee0fdf62f12708b7fb7b     1
db67edba557aecc4435c3bdca5c25d5f     1
e26792c1136c8327db984baf56a84a75     2
e65bd9b13ec4a97ac7b912f37c3e36d4     2
e84b0f471b8e8f4aecc81eb27b16c092     1
eb727f972742f7ff6b07ee761ae5da1b    22
f143f08e6277cd0ed2c70680c4171de6     1
f150c479778accab9c439eefe6bd22b4     1
dtype: int64

In [143]:
pd.get_dummies(all_sequences_matrix[['SEQUENCE']].astype(str).values[0][0].replace(' ','').replace('[','').replace(']','').replace("'","").split(',')).sum()[0]

1

In [142]:
for i in pd.get_dummies(all_sequences_matrix[['SEQUENCE']].astype(str).values[0][0].replace(' ','').replace('[','').replace(']','').replace("'","").split(',')).sum()[0]:
    all_sequences_matrix[str(i)]=d.get_dummies(all_sequences_matrix[['SEQUENCE']].astype(str).values[0][0].replace(' ','').replace('[','').replace(']','').replace("'","").split(',')).sum()[1]

TypeError: 'numpy.int64' object is not iterable

In [74]:
dum=pd.get_dummies(all_sequences_matrix, prefix='SEQUENCE')

In [87]:
dum.columns.values['SEQUENCE_']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [69]:
seq

Empty DataFrame
Columns: [SEQUENCE]
Index: []